<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aayush Kitchens</title>
    <link rel="stylesheet" href="/styles.css"> 

</head>

<h1></h1>
    
    <h2></h2>
    <h3>Enquire now</h3>
    <form action="/" method="POST" id="myform",enctype="multipart/form-data" >
        <input type="text" placeholder="Name" name="name">
        <input type="text" placeholder="Email" name="email" required="true">
        <input type="text" placeholder="Mobile" name="mobile" required="true">
        <input type="text" placeholder="City" name="city" required="true">
        <button type="submit">Submit</button>
    </form>

    <script>
        document.getElementById('myform').addEventListener('submit', async function(event){
        event.preventDefault();
        const formData = new FormData(event.target);

        fetch('/', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data =>{
            if(data.success){
                alert('Subscription confirmed! Elevate your kitchen space.');
            } else{
                alert('Error Occured');
            }
        })
        .catch(err=> {
          console.log(`Error: ${err}`);
          alert('Error Connecting to the server');
        });
    });
    </script>
    <footer> 
        <p>&copy; 2023 Aayush Kitchens. All Rights Reserved.</p>
    </footer>
</body>

</html> 


